**/node_modules/
**/.DS_Store
.idea/
*.pyc
*.gz
*.zip
*.log
*.toc
*.aux
*.out
*.synctex
__pycache__/
admin/__pycache__/
**/.cache
dataSources.local.xml
dataSources.xml
dataSources/
deployment.xml
inspectionProfiles/
ioc-site-v2.iml
misc.xml
modules.xml
sqldialects.xml
vcs.xml
workspace.xml
**/sftp-config.json
admin/ioc-test.pdf
.vscode
**/.cache
